@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');


body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
h1, h2, h3{
  margin: 0.5rem 0;
}
h1{
  font-size: 2rem;
  font-weight: 700;
}
h2{
  font-size: 1.6rem;
}
h3{
  font-size: 1rem;
}
a{
  text-decoration: none;
}
.titulo-site{
  margin: auto;
  color: #3c5159;
}
.titulo-cart{
  justify-content: center;
  display: flex;
  font-weight: 700;
  color: #3c5159;
}
.cart-subtitle{
  justify-content: center;
  display: flex;
  margin: auto;
}
.row{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.col-1{
  flex: 1;
}
.col-2{
  flex: 2;
}
.block{
  background-color: #edf1f3;
  padding: 1rem;
  margin: 0.5rem;
}
.row.center{
  align-items: center;
}
.section-cart{
  min-width: 50%;
}
.header{
  position: sticky;
  top: 0;
}
.item{
  border: 1px solid #000000;
  display: flex;
  flex-direction: row;
}
.img-small{
  max-width: 225px;
}
.card-prod{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 14rem;
  min-height: 11rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  margin: 10px;
  background-color: #e1e7e6;
  line-height: 40px;
}
.card-prod h3,
.card-prod p,
.card-prod img{
  margin: auto;
}
.card-prod h3{
  margin: auto;
  padding-bottom: 5px;
  border-bottom: 1px dashed #bdd6d2;
  font-size: 1rem;
}
.card-prod p{
  color: grey;
  font-size: 22px;
}
.card-prod img{
  width: 100%;
}
.button{
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.button:hover {
  opacity: 0.7;
}
.buttons{
  display: flex;
  justify-content: flex-end;
}
.btn-add{
  width: 1.5rem;
  font-size: 1.5rem;
  padding: 0.2rem;
  margin:  0.1rem;
  border: none;
  margin-right: 5px;
}
.btn-remove{
  width: 1.5rem;
  font-size: 1.5rem;
  padding: 0.2rem;
  margin:  0.1rem;
  border: none;
  margin-left: 5px;
}
.btn-badge{
  background-color: #ff0000;
  border: none;
  color: #fff;
  width: 1.5rem;
  font-size: 0.8rem;
  padding: 0.2rem;
  margin:  0.1rem;
  border-radius: 0.5rem;
}
.text-right{
  text-align: right;
}
.product-name{
  font-size: 15px;
}
.cart-logo-bg{
  width: 30px;
  height: 30px;
  background-color: #000000;
  border-radius: 1rem;
}
.cart-logo{
  font-size: 20px;
  color: #fff;
  padding: 4.5px;
}
.cart-img{
  display: flex;
  margin: auto;
  max-width: 450px;
}
.cart-iten-count{
  top: -15px;
  color: #fff;
  display: flex;
  flex-direction: row-reverse;
  font-size: 15px;
  background-color: #ff0000;
  font-weight: 600;
  border-radius: 1rem;
  max-width: 15px;
  justify-content: center;
}
.clear-bnt{
  display: flex;
  justify-content: end;
  margin-top: 10px;
}
.clear-bnt button{
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 23%;
  font-size: 18px;
  display: flex;
  justify-content: center;
}