.img_small{
  max-width: 225px;
}
.card_prod{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 14rem;
  min-height: 11rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  margin: 10px;
  background-color: #e1e7e6;
  line-height: 40px;
}
.card_prod h3,
.card_prod p,
.card_prod img{
  margin: auto;
}
.card_prod h3{
  margin: auto;
  padding-bottom: 5px;
  border-bottom: 1px dashed #bdd6d2;
  font-size: 1rem;
}
.card_prod p{
  color: grey;
  font-size: 22px;
}
.card_prod img{
  width: 100%;
}
.button{
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.button:hover {
  opacity: 0.7;
}